<h1>Muokkaa elokuvaa</h1>
<form novalidate name="movieForm">
    <div class="form-group">
        <p ng-show="movieForm.$invalid">Kaikki kentät täytyy täyttää</p>
        <label>Nimi:</label><br>
        <input class="form-control" type="text" ng-model="movie.name" required ng-minlength="1"><br>
        <label>Ohjaaja:</label><br>
        <input class="form-control" type="text" ng-model="movie.director" required ng-minlength="1"><br>
        <label>Julkaisuvuosi:</label><br>
        <input class="form-control" type="text" ng-model="movie.release" required ng-minlength="1"><br>
        <label>Kuvaus:</label><br>
        <textarea class="form-control" ng-model="movie.description" required ng-minlength="1"></textarea><br>
        <input class="btn btn-primary" type="submit" value="Tallenna" ng-click="editMovie()" ng-disabled="movieForm.$invalid"><br>
    </div>
</form>