<h2>Kirjaudu sisään</h2>
<form>
    <div class="form-group">
        <label>Käyttäjänimi</label><br>
        <input class="form-control" type="text" ng-model="email"><br>
        <label>Salasana</label><br>
        <input class="form-control" type="password" ng-model="password"><br>
        <input class="btn btn-primary" type="button" ng-click="logIn()" value="Kirjaudu">
    </div>
</form>

<h2>Rekisteröidy</h2>
<form>
    <div class="form-group">
        <label>Käyttäjänimi</label><br>
        <input class="form-control" type="text" ng-model="newEmail"><br>
        <label>Salasana</label><br>
        <input class="form-control" type="password" ng-model="newPassword"><br>
        <input class="btn btn-primary" type="button" ng-click="register()" value="Rekisteröidy">
    </div>
</form>