<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <title>Elokuvakirjasto</title>
  </head>
  <body ng-app="MovieApp">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-brand">Elokuvakirjasto</div>
              <ul class="nav navbar-nav">
                  <li>
                      <a href="#/movies">Elokuvat</a>
                  </li>
              </ul>

              <div class="nav navbar-nav navbar-right">
                  <button class="btn btn-default" ng-click="logOut()" ng-if="userLoggedIn">Kirjaudu ulos</button>
                  <a class="btn btn-default" ng-if="!userLoggedIn" href="#/login">Kirjaudu sisään/Rekisteröidy</a>
              </div>
          </div>
      </nav>
      <div ng-view></div>

    <!-- Hyödyllisiä kirjastoja -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <!-- Linkitä omat tiedostosi tähän (huomaa, että polun juuri on web-kansio!) -->
    <script src="app/app.js"></script>    
    <script src="app/controllers/add_movie.js" type="text/javascript"></script>
    <script src="app/controllers/list_movies.js" type="text/javascript"></script>
    <script src="app/services/firebase_service.js" type="text/javascript"></script>
    <script src="app/controllers/show_movie.js" type="text/javascript"></script>
    <script src="app/controllers/edit_movie.js" type="text/javascript"></script>
    <script src="app/services/omdb_service.js" type="text/javascript"></script>
    <script src="app/services/auth_service.js" type="text/javascript"></script>
    <script src="app/controllers/user_controller.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
  </body>
</html>